{% extends 'base.html.twig' %}

{% block title %}Currency{% endblock %}

{% block body %}
    <h1>Currency</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ currency.id }}</td>
            </tr>
            <tr>
                <th>CurrencyName</th>
                <td>{{ currency.currencyName }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ currency.symbol }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('currency_index') }}">back to list</a>

    <a href="{{ path('currency_edit', {'id': currency.id}) }}">edit</a>

    {{ include('currency/_delete_form.html.twig') }}
{% endblock %}
