{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block page_header %}
    Edit account {{ account.email }}
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Account name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.name) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.name) }}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                {{ form_widget(form.email, {'attr': {
                    'class': 'form-control',
                    'type': 'email'
                }}) }}
                {% if form_errors(form.email) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.email) }}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Current Balance</label>
                {{ form_widget(form.balance, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.balance) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.balance) }}
                    </small>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Default currency</label>
                {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.currency) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.currency) }}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
