{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block page_header %}
    Edit Category
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.name) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.name) }}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Ordering</label>
                {{ form_widget(form.ordering, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.ordering) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.ordering) }}
                    </small>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label >Color</label>
                {{ form_widget(form.color, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Icon</label>
                {{ form_widget(form.icon, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.icon) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.icon) }}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
    {{ form_end(form) }}

    {{ include('category/_delete_form.html.twig') }}
    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
