{% extends 'base.html.twig' %}

{% block title %}Edit Wallet{% endblock %}

{% block page_header %}
    Edit Wallet {{ wallet.name }}
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label >Wallet name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.name) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.name) }}
                    </small>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label >Default currency</label>
                {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label >Color</label>
                {{ form_widget(form.color, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label >Icon</label>
                {{ form_widget(form.icon, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.icon) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.icon) }}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>

    {{ form_end(form) }}

    <a href="{{ path('wallet_index') }}">back to list</a>

    {{ include('wallet/_delete_form.html.twig') }}
{% endblock %}
