{% extends 'base.html.twig' %}

{% block title %}Wallet index{% endblock %}

{% block page_header %}
    Wallet index
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Modified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.name }}</td>
                <td>{{ wallet.amount }}</td>
                <td>{{ wallet.currency.currencyName }}</td>
                <td>{{ wallet.modified ? wallet.modified|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('wallet_show', {'id': wallet.id}) }}">show</a>
                    <a href="{{ path('wallet_edit', {'id': wallet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wallet_new') }}">Create new</a>
{% endblock %}
