{% extends 'base.html.twig' %}

{% block title %}New Wallet{% endblock %}

{% block page_header %}
    Create new Wallet
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label >Wallet name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.name) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.name) }}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label >Initial Amount</label>
                {{ form_widget(form.initialAmount, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.initialAmount) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.initialAmount) }}
                    </small>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label >Default currency</label>
                <select id="new_wallet_currency" name="new_wallet[currency]" class="form-control">
                    {% for currency in currencies %}
                        {% if currency.id == defaultCurrency.id %}
                            <option value="{{ currency.id }}" selected='selected'>
                                {{ currency.currencyName }}
                            </option>
                        {% else %}
                            <option value="{{ currency.id }}">
                                {{ currency.currencyName }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label >Color</label>
                {{ form_widget(form.color, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label >Icon</label>
                {{ form_widget(form.icon, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.icon) %}
                    <small class="form-text text-muted">
                        {{ form_errors(form.icon) }}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>

    {{ form_end(form) }}

    <a href="{{ path('wallet_index') }}">back to list</a>
{% endblock %}
